<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel = "stylesheet" href = "/styles/stylecart.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>

    <div id = "kosarica">
        <b>Košarica</b>
        <div id = "alat">
            <ul id = "nazProizvod">
                <h3>Naziv proizvoda</h3>
            </ul>
            <ul id = "kolicina">
                <h3>Količina</h3>
            </ul>
        </div>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>

</html>